#radialChart .apexcharts-legend-text,
#revenue-chart-cnt .apexcharts-legend-text,
#semiCircleChart .apexcharts-legend-text {
  margin-left: 0 !important;
  padding: 10px 5px !important;
  padding-right: 0 !important;
}

#semiCircleChart, #radialChart {
  height: 150px !important;
  min-height: 0 !important;
}

#radialChart .apexcharts-legend {
  max-width: 100px;
  justify-content: start;
}

#radialChart .apexcharts-legend {
  max-width: 100%;
  justify-content: center;
}

@media screen and (max-width: 926px) {
  #revenue-chart-cnt .apexcharts-legend {
    top: 0 !important;
  }
}

@media screen and (max-width: 360px) {
  #revenue-chart-cnt .apexcharts-legend {
    left: 0 !important;
  }
}
